    <%- include('./partials/head') %>

    <body>
        <%-include('./partials/header') %>

            <main>

                <form class='form-admin'action='/admin/' method='post'>
                    <button class='icono-lupa' type='submit'>
                        <img class='icono-lupa' src='/multimedia/icons/search_icon.svg' />
                    </button>
                    <input class='buscar-admin' type='text' id='clave' name='clave' />
                </form>

                <div class='tit-lista-admin'>
                    <span class='text-titulo-productos'>LISTADO DE PRODUCTOS</span>
                    <a class='text-medio sin-decoracion text-negro text-left' href='/admin/create'><b>AGREGAR</b>
                        <img class='icono-agregar' src='/multimedia/icons/signomas.svg' /> 
                    </a>
                </div>

                <div class='tabla'>
                    <table>
                        <caption></caption>
                        <thead>
                            <tr>
                                <th class='cabecera'>ID</th>
                                <th class='cabecera'>Código</th>
                                <th class='cabecera'>Nombre del Producto</th>
                                <th class='cabecera'>Categoría</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% articulos.forEach(articulo=>{ %>
                                <tr id='fila<%=articulo.product_id%>'>
                                    <td class='datos'><%=articulo.product_id%></td>
                                    <td class='datos'><%=articulo.product_sku%></td>
                                    <td class='datos'><%=articulo.product_name%></td>
                                    <td class='datos'><%=articulo.licence_name%></td>
                                    <td class='datos'><a href='/admin/edit/<%=articulo.product_id%>'><img class='icono-chico'
                                                src='/multimedia/icons/edit_pencil.svg' /></a> </td>
                                    <td class='datos'><a href='/admin/delete/<%=articulo.product_id%>'><img class='icono-chico'
                                                src='/multimedia/icons/delete_trash.svg' /></a> </td>
                                </tr>
                                
                            <% }) %>
                            
                            </tbody>
                    </table>
                </div>
            </main>

            <%-include('./partials/footer')%>

    </body>

</html>