    <%-include('./partials/head')%>

    <body>


        <%-include('./partials/header')%>


            <main class='main-cart'>
                <div>
                    <span class='text-titulo-cart'>CARRITO DE COMPRAS</span>
                </div>
                <div class='separador'></div>
                <div class='separador'></div>

                <div class='contenedor-cart color-aliceblue text-bold'>
                    <span class='col-1'>DETALLE DEL PRODUCTO</span>
                    <span class='col-2 ancho-col-85'>CANTIDAD</span>
                    <span class='col-3'>TOTAL</span>
                    <span class='col-4 transparente'></span>
                </div>

                <div class='separador'></div>
                
                <% let index = 0; %>

                <% productos.forEach( producto => { %>
                    <% let idIndex = index %>
                    <div class='contenedor-cart color-aliceblue'>
                        <input id='idIndex<%=idIndex%>' name='idIndex' value='<%=idIndex%>' hidden />
                        <input id='idSku<%=idIndex%>' name='idSku' value='<%=producto.item.product_sku%>' hidden />
                        <input id='precioProducto<%=idIndex%>' name='precioProducto' value='<%=producto.item.product_price%>' hidden />
                        <div class='col-1 contenedor-producto'>
                            <img class='imagen-producto-cart col-2' src='/<%=producto.item.img_front%>' />
                            <div class='col-2 text-left'>
                                <p class='text-medio'><%=producto.item.product_name%></p>
                                <p class='text-bold'><%=producto.item.licence_name%></p>
                                <span class='text-bold'>PRECIO $ </span><span id='precio<%=idIndex%>' 
                                        value='<%=producto.item.product_price%>'><%=producto.item.product_price%></span>
                            </div>
                        </div>
                        <div class='col-2 ancho-col-85'>
                            <div class='cont-cantidad'>
                                <input id='cantidad<%=idIndex%>' class='input-cantidad' type='text' size='5' value='<%=producto.cantidad%>' 
                                    onchange='actualizarCantidad("<%=idIndex%>")' placeholder='<%=producto.cantidad%>' />
                                <div>
                                    <button id='suma<%=idIndex%>' class='btn-masmenos-chicos' type='button' onclick='suma("<%=idIndex%>")'>
                                        <img src='/multimedia/icons/signo-mas-chico.svg' />
                                    </button>
                                    <button id='resta<%=idIndex%>' class='btn-masmenos-chicos' type='button' onclick='resta("<%=idIndex%>")'>
                                        <img src='/multimedia/icons/signo-menos-chico.svg' />
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class='col-3 text-left'><span class='pad-left text-bold'>$</span> <span
                                id="subtotalProducto<%=idIndex%>" class='pad-left'
                                value='<%= producto.item.product_price * producto.cantidad %>'>
                                    <%= producto.item.product_price * producto.cantidad %> </span>
                        </div>
                        <form class='col-4' action='/shop/cart/<%=producto.item.product_sku%>/del' method='post'>
                            <input id='producto' name='producto' value=<%=producto.item.product_sku%> hidden/>
                            <button class='icono-cancel' type='submit'><img src='/multimedia/icons/cancelar.svg' /></button> 
                        </form>
    
                    </div>
                    
                    <% index++ %>

                <% })  %>

                <input id='index' type='text' value='<%=index%>' hidden />
                
                <div class='separador'></div>
                <div class='separador'></div>

                <div class='contenedor-cart'>
                    <div class='col-4 text-right'>
                        <span class='text-titulo-cart'>RESUMEN</span>
                    </div>
                </div>
                <div class='contenedor-cart'>
                    <div class='col-4 color-aliceblue contenedor-cart pad text-bold'>
                        <span class='col-1 text-left pad'>CANTIDAD DE ELEMENTOS</span>
                        <span class='col-4 text-right pad' id='cantidadProductos'></span>
                        <span class='col-1 text-left pad'>SUBTOTAL</span>
                        <span class='col-4 text-right pad'><span>$ </span><span id='subtotalFactura'></span></span>
                        <span class='col-1 text-left pad'>ENVIO</span>
                        <span class='col-4 text-right pad'><span>$ </span><span id='envio'></span></span>
                        <div class='linea-naranja'></div>
                        <span class='col-1 text-left pad'>TOTAL</span>
                        <span class='col-4 text-right pad'><span>$ </span><span id='totalFactura'></span></span>

                    </div>
                </div>
                <div class='contenedor-cart'>
                    <div class='col-4'>
                        <button class='btn-pagar text-bold' type='button'>IR A PAGAR</button>
                    </div>
                </div>

            </main>




            <%-include('./partials/footer')%>

            <script src="/JS/cart.js"></script>
            <script>
   
                actualizarResumenCarrito();
                
            </script>
    
    </body>

</html>