    <%-include('./partials/head')%>

    <body>

        <%-include('./partials/header') %>

            <main class='main-item'>
                <div class='izquierda'>
                    <img onmouseout="this.src='/<%=item.img_front%>'" onmouseover="this.src='/<%=item.img_back%>'"
                        src='/<%=item.img_front%>' id='miImagen' alt='Imagen' />

                </div>

                <form class='derecha formulario' action='/admin/delete/<%=item.product_id%>' method='post'>
                    <!-- guardamos en un input oculto el id del item para enviarlo por post-->
                    <input name='id' value='<%=item.product_id%>' hidden /> 
                    <p class='text-form-saga'>
                        <%=item.licence_name%>
                    </p>
                    <p class='text-form-nomb'>
                        <%=item.product_name%>
                    </p>
                    <p class='text-form-desc'>
                        <%=item.product_description%>
                    </p>
                    <p class='text-form-precio'>$ <span>
                            <%=item.product_price%>
                        </span></p>
                        <button class='btn-rojo' type='submit'>Borrar Item</button>
                        <a href='/admin' class='sin-decoracion btn-rojo'>Cancelar</a>
                    </div>
                </form>
            </main>

            <%-include('./partials/footer') %>

    </body>

</html>