    <%-include('./partials/head')%>

    <body>

        <%-include('./partials/header')%>

            <%-include('./partials/banner')%>

                <main class='main-index'>
                    <% novedades.forEach(novedad => { %>
                    <article class='articulo-index'>
                        <h1 class='text-saga-grande'><%=novedad.licence_name%></h1>
                        <p class='text-descripcion-articulo'><%=novedad.licence_description%></p>
                        <hr> 
                        <form action='shop' method='post'>
                            <input type='text' name='clave' value=<%=novedad.licence_name%> hidden />
                            <button type='submit' class='btn-gris'>VER COLECCIÓN</button>
                        </form>
                    </article>

                    <article class='articulo-index'>
                        <img onmouseout="this.src='/<%=novedad.img_front%>'"
                            onmouseover="this.src='/<%=novedad.img_back%>'"
                            src='/<%=novedad.img_front%>' />
                    </article>
                    <% }) %>
                   
                </main>

                <%-include('./partials/productslider') %>

                <%-include('./partials/footer')%>


    </body>

</html>